alias-without-label
all-links
catmerge
catmerge2
catnamemerge
ce
class-type-conflict
commonsmerge
coordmerge
countrymerge
countrymerge.o
countymerge
cs
dates
deleted_item_values
deleted_item_values.o
disambigmerge
duplicate_link
duplicates
empty-but-used
empty-items
empty-items-repair
find_country_adjectives.o
get_namespaces
get_namespaces.o
globe
gu
implied_sex
implied_sex.o
iw_distribution
language_statistics_for_items
language_statistics_for_items.o
link-label-compare
link_without_label
list
list2
list3
meshid
ml
most_aliases
most_revisions
no-sex
no-sex_en
ns_lists
ns_stats
numbermerge
numbermerge2
numbermerge3
numbermerge3.o
oneprop_stat
pairs
person
property_statistics
property_statistics.o
read_categorylinks_table
read_items
read_items.o
read_page_table
read_pronouns
read_pronouns_en
read_species
selflink
set_dumpdate
set_dumpdate.o
sex_distribution
statement_statistics
statement_statistics.o
taxa-at-specieswiki
taxon_check
taxon_check2
taxon_check.o
uncles
update_page_item
used-disambiguations
used_taxons
used_taxons.o
wikidatalib.o
zh
